<div class="btn-container">
  <div class="int-btns">
    <div class="post-btn btn-hvr blue">
      <fa-icon [icon]="faComment"></fa-icon>
      <span>311</span>
    </div>
    <div class="post-btn btn-hvr like green">
      <fa-icon [icon]="faRetweet"></fa-icon>
      <span>311</span>
    </div>
    <div class="post-btn btn-hvr like">
      <fa-icon [icon]="faHeart"></fa-icon>
      <span>311</span>
    </div>
    <div class="post-btn post-btn btn-hvr blue">
      <fa-icon [icon]="faChartSimple"></fa-icon>
      <span>311</span>
    </div>
  </div>
  <div class="action-btns">
    <!-- <div class="post-btn btn-hvr blue">
      <fa-icon [icon]="faBookmark"></fa-icon>
    </div> -->
    <div class="post-btn btn-hvr blue">
      <fa-icon [icon]="faArrowUpFromBracket"></fa-icon>
    </div>
  </div>
</div>
