<div class="post-container">
  <div class="post-left-side">
    <img src="../../../../../assets/image/post-user-img.jpg" alt="" />
  </div>
  <div class="post-content">
    <div class="post-info">
      <div class="info-text">
        <div class="user-info">
          <span>Chris</span>
          <p>{{ "@minombreeschris" }} · 19h</p>
        </div>
        <div class="post-text">
          <p>
            cómo se llama este personaje ayúdenme (pls no digan chris en 3 años)
          </p>
        </div>
      </div>
    </div>
    <img src="../../../../../assets/image/post-img.jpeg" alt="" />

    <app-post-btn class="post-btns"></app-post-btn>
  </div>
</div>
